<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
</head>
@using ViewModelFun.Models
@model ViewModelFun.Models.User

<body>
    <div class="wrapper">
        <h1>Here is a User!</h1>
        <div class="display">
            @Model.FirstName @Model.LastName
        </div>
    </div>
</body>
</html>